---
layout: default
dataid: pph
title: KUP
description: Ketentuan Umum dan Tatacara Perpajakan
permalink: /masonry
---

<div class="max-w-8xl mx-auto py-16 px-4 sm:px-6 lg:px-8 bg-gray-700">
    <div class="lg:grid lg:grid-cols-2 lg:gap-12 lg:items-center">
      <div>
        <p class="text-base leading-6 font-semibold text-teal-400 uppercase tracking-wider">
          Now in early access
        </p>
        <h2 class="mt-2 text-4xl leading-10 font-semibold font-display text-white">Getting acquainted with Tailwind UI</h2>
        <p class="mt-4 text-base leading-6 text-gray-400 max-w-3xl">
          Tailwind UI is a collection of professionally designed, pre-built, fully responsive HTML snippets you can drop into your Tailwind projects. Get started by checking out our free preview components, or browsing the PNG previews in the categories you're most curious about.
        </p>
        <div class="mt-6 flex">
          <a href="https://vimeo.com/393580241/82c6d7c5f6" target="_blank" class="inline-flex items-start text-lg leading-6 font-medium text-teal-400 hover:text-teal-300 transition ease-in-out duration-150">
            <svg class="flex-shrink-0 mr-3 h-9 w-9 transition ease-in-out duration-150" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z"></path>
              <circle vector-effect="non-scaling-stroke" cx="12" cy="12" r="9" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
            </svg>
            <span class="mt-1.5 transition ease-in-out duration-150 sm:hidden">Watch a demo</span>
            <span class="hidden transition ease-in-out duration-150 sm:inline mt-1.5">Watch the creator of Tailwind CSS build a page with Tailwind UI</span>
          </a>
        </div>
      </div>
      <div class="mt-8 lg:mt-0">
        <div class="max-w-lg lg:ml-auto lg:max-w-xl">
          <a href="/preview" class="flex items-start rounded-lg border border-teal-400 px-5 py-4 text-lg leading-6 font-medium text-white hover:bg-gray-800 transition ease-in-out duration-150">
            <svg class="mr-3 h-6 w-6 text-teal-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"></path>
            </svg>
            Browse the free sample components
            <div class="ml-auto mt-0.5 pl-4">
              <svg class="h-5 w-5 text-teal-400" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </div>
          </a>
          <a href="#product-marketing" class="mt-3 flex items-start rounded-lg border border-gray-700 px-5 py-3 text-base leading-6 font-medium text-white hover:bg-gray-800 transition ease-in-out duration-150">
            <svg class="mt-0.5 mr-4 h-5 w-5 text-gray-500" textviewbox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z" clip-rule="evenodd"></path>
            </svg>
            Preview all the Marketing components
            <div class="ml-auto mt-0.5 pl-4">
              <svg class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </div>
          </a>
          <a href="#product-application-ui" class="mt-3 flex items-start rounded-lg border border-gray-700 px-5 py-3 text-base leading-6 font-medium text-white hover:bg-gray-800 transition ease-in-out duration-150">
            <svg class="mt-0.5 mr-4 h-5 w-5 text-gray-500" textviewbox="0 0 20 20" fill="currentColor">
              <path d="M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM3 10a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1v-6zM14 9a1 1 0 00-1 1v6a1 1 0 001 1h2a1 1 0 001-1v-6a1 1 0 00-1-1h-2z"></path>
            </svg>
            Preview all the Application UI components
            <div class="ml-auto mt-0.5 pl-4">
              <svg class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>


<div id="app" class="px-8 mt-10">
    <section id="specialssection" class="specials-container">
        <div id="special_component" :style="menuStyle">
            <h1 class="text-gray-800 text-3xl font-extrabold">Materi Perpajakan</h1>
            <div class="specials-table-container lg:flex lg:my-0 lg:mx-auto">
                <table class="w-11/12 mx-auto my-0 border-collapse table-fixed">
                  <thead class="mt-4">
                    <tr>
                      <th>KUP</th>
                    </tr>
                  </thead>
                    <tbody>
                        {% capture kup %}kup{% endcapture %}
                        {% assign dataidCategory = site.data[kup] | sort: "Last Updated" | reverse %}
                        {% for item in dataidCategory limit:6 %}
                        <tr class="nameandprice">
                            <td class="dotStyle">
                                <span class="text-sm text-gray-800 bg-white">{{item.Document}}</span>
                            </td>
                            <td class="dotStyle">
                                <span class="text-xs text-gray-800 bg-white">{{ item.LastUpdated | date: "%b" }}</span>
                            </td>
                        </tr>
                        <tr class="px-8 pt-1 pb-8 mx-10">
                          <td class="text-xs text-gray-800" colspan="2">{{item.Topic}}</td>
                      </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><a href="#" class="mt-3 flex items-start rounded-lg border border-gray-700 px-5 py-2 text-base leading-6 font-medium text-gray-800 hover:text-white hover:bg-gray-800 transition ease-in-out duration-150">Resume KUP →</a></td>
                        </tr>
                    </tfoot>
                </table>

                <table class="w-11/12 mx-auto my-0 border-collapse table-fixed">
                  <thead>
                    <tr>
                      <th>PPh</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% capture pph %}pph{% endcapture %}
                    {% assign dataidCategory = site.data[pph] | sort: "Last Updated" | reverse %}
                    {% for item in dataidCategory limit:6 %}
                    
                    <tr class="nameandprice">
                        <td class="dotStyle">
                            <span class="text-sm text-gray-800 bg-white">{{item.Document}}</span>
                        </td>
                        <td class="dotStyle">
                            <span class="text-xs text-gray-800 bg-white">{{ item.LastUpdated | date: "%b" }}</span>
                        </td>
                    </tr>
                    <tr class="px-8 pt-1 pb-8 mx-10">
                      <td class="text-xs text-gray-800" colspan="2">{{item.Topic}}</td>
                  </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td><a href="#" class="mt-3 flex items-start rounded-lg border border-gray-700 px-5 py-2 text-base leading-6 font-medium text-gray-800 hover:text-white hover:bg-gray-800 transition ease-in-out duration-150">Resume PPh →</a></td>
                    </tr>
                </tfoot>
                </table>

                <table class="w-11/12 mx-auto my-0 border-collapse table-fixed">
                  <thead class="mt-4">
                    <tr>
                      <th>PPN</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% capture ppn %}ppn{% endcapture %}
                      {% assign dataidCategory = site.data[ppn] | sort: "Last Updated" | reverse %}
                      {% for item in dataidCategory limit:6 %}
                      <tr class="nameandprice">
                          <td class="dotStyle">
                              <span class="text-sm text-gray-800 bg-white">{{item.Document}}</span>
                          </td>
                          <td class="dotStyle">
                              <span class="text-xs text-gray-800 bg-white">{{ item.LastUpdated | date: "%b" }}</span>
                          </td>
                      </tr>
                      <tr class="px-8 pt-1 pb-8 mx-10">
                        <td class="text-xs text-gray-800" colspan="2">{{item.Topic}}</td>
                    </tr>
                      {% endfor %}
                  </tbody>
                  <tfoot>
                      <tr>
                          <td><a href="#" class="mt-3 flex items-start rounded-lg border border-gray-700 px-5 py-2 text-base leading-6 font-medium text-gray-800 hover:text-white hover:bg-gray-800 transition ease-in-out duration-150">Resume PPN →</a></td>
                      </tr>
                  </tfoot>

              </table>

            </div>
        </div>
    </section>
</div>
<!-- akhir test -->