.ppn {
    background-color: #feb2b2 !important;
}

.kup {
    background-color: #c6f6d5 !important;
}

/* hero.html */


.specials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.specials-container table {
    width: 90%;
    margin: 0px auto;
    table-layout: fixed;
    border-collapse: collapse;
}

#special_component {
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
}

.nameandprice td {
    padding: 1em 0 0 0;
    vertical-align: bottom;
    background-image: radial-gradient(black 1px, transparent 0px);
    background-size: 8px 8px;
    background-repeat: repeat-x;
    background-position: left bottom;
}

.nameandprice span {
    background-color: #fff;
}

.nameandprice td:first-child {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
}

.nameandprice td:first-child span {
    padding-right: 0.25em;
}

.nameandprice td:last-child {
    text-align: right;
    width: 3em;
    font-size: 20px;
}

.description td {
    text-align: left;
    padding: 8px 0px 15px 15px;
}

td:last-child span {
    padding-left: 0.25em;
}

@media (min-width: 992px) {
    .specials-container table {
        margin: 40px;
        width: 45%;
    }


}

.dotStyle {
  background-image: radial-gradient(#eee, 1px, transparent 0px);
}